.myLine{
    padding: 10px;
}
h1{
    color: cornflowerblue;
    font-style: italic;
}
p{
    font-style: italic;
}
.most{
    margin-top: 5%;
    margin-bottom: 7%;
    margin-left: 5%;
    margin-right: 5%;
}
.global{
    color:cornflowerblue;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    font-style: italic;
}