<div class="container myLine">
    <div class="most">
        <div>
            <h1 class="display-4">Our Company</h1>
        </div>
        <div>
            <p>A global leader in consulting, technology services and digital transformation, NUK is at the forefront of
                innovation to address the entire breadth of clients’ opportunities in the evolving world of cloud,
                digital and platforms.</p>
        </div>
    </div>
    <div>
        <H1 class="global most">Global Locations <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
            </svg></H1>
    </div>
    <div class="card-deck">
        <div class="card" style="width: 300px;" *ngFor="let aboutX of aboutme">
            <img [src]="aboutX.imagePath" alt="No Image" height="180px">
            <div class="card-body">
                <h5 class="card-title">{{aboutX.cardTitle}}</h5>
                <p class="card-text">{{aboutX.cardText}}</p>
            </div>
            <div class="card-footer">
                Location : <a [href]="aboutX.footerMap">{{aboutX.mycity}}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                    </svg></a>
            </div>
        </div>
    </div>
</div>