<div class="container">
    <div class="container gap">
        <div>
            <img src="https://media.newjobs.com/niche/images/hub-graphics/types-of-careers-1280x367.jpg"
                alt="Unable to Display Image" style="height: 450px; width: 1070px;">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
              <h3 class="display-4">Career Development</h3>
            </div>
            <div class="col-4 gap justify-content-end">
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Search Here For Your Next Job"
                        aria-label="Search" aria-describedby="search-addon" />
                    <button type="button" class="btn btn-outline-primary">search</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="table-primary">
                    <th scope="col">S No</th>
                    <th scope="col">Domain</th>
                    <th scope="col">Location</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Experience(In Years)</th>
                    <th scope="col">Date Of Posted</th>
                    <th scope="col">Apply</th>
                </tr>
            </thead>
            <tbody *ngFor="let career of mycareer">
                <tr>
                    <td>{{career.sno}}</td>
                    <td>{{career.domain}}</td>
                    <td>{{career.location}}</td>
                    <td>{{career.designation}}</td>
                    <td>{{career.experience}}</td>
                    <td>{{career.dateposted}}</td>
                    <td><a href="#">{{career.apply}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                      </svg></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container paginationstyle">
      <nav>
          <ul class="pagination justify-content-center pagination-sm">
              <li class="page-item"><a href="#" class="page-link">Previous</a></li>
              <li class="page-item active"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">Next</a></li>
          </ul>
      </nav>
    </div>
</div>