
<div class="container">
  <div class="container headingstyle">
    <h1>Register here to have account</h1>
 </div>
  <form>
    <div class="row justify-content-center">
      <div class="col-8 marginstyle">
        
          <div class="row">
            <div class="form-group col-4">
              <input type="text" name="firstname" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group col-4">
              <input type="text" name="middlename"  class="form-control" placeholder="Middle Name(optional)">
            </div>
            <div class="form-group col-4">
              <input type="text" name="lastname" class="form-control" placeholder="Last Name">
            </div>
          </div>   
        
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 marginstyle">
          <div class="row">
            <div class="form-group col-8">
              <input type="email" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group col-4">
              <input type="tel" name="phone"  class="form-control" placeholder="Mobile Number">
            </div>
          </div>   
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 marginstyle">
          <div class="row">
            <div class="form-group col-8">
              <input type="password" name="password" class="form-control" placeholder="Passowrd">
            </div>
            <div class="form-group col-4">
              <input type="text" name="confirmpassword"  class="form-control" placeholder="Confirm Password">
            </div>
          </div>   
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 marginstyle">
          <div>
            <button class="btn btn-primary btn-block">Sign Up</button>
          </div> 
      </div>
    </div>
  </form>
</div>